<h1>New Post</h1>
<!-- form_with部分 -->
<%= form_with model:@groups, local:true do |f| %>

  <h4>グループ名</h4>
  <%= f.text_field :title %>

  <h4>内容</h4>
  <%= f.text_field :category %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <%= f.submit '作成' %>

<% end %>


