<header>
  <%  if member_signed_in? %>
     <li>
       <%= link_to "Home", posts_path %>
     </li>
     <li>
       <%= link_to "Search", posts_path %>
     </li>
     <li>
       <%= link_to "Notification", posts_path %>
     </li>
     <li>
       <%= link_to "Timeline", posts_path %>
     </li>
     <li>
       <%= link_to "MyPage", member_path(current_member) %>
     </li>
     <li>
       <%= link_to "Member_Logout", destroy_member_session_path, method: :delete %>
     </li>
    <% else %>
     <li>
       <%= link_to "Member_Sign_up", new_member_registration_path %>
     </li>
     <Li>
       <%= link_to "Member_Login", new_member_session_path %>
     </Li>
    <% end %>
</header>